## 1. Importando e concatenando arquivos

In [1]:
!pip install --quiet -r requirements.txt

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [6]:
df1 = pd.read_csv("dataframes/1-producao-plastico.csv")
df2 = pd.read_csv("dataframes/2-participacao-despejo-residuo.csv")
df3 = pd.read_csv("dataframes/3-destino-plastico.csv")
df4 = pd.read_csv("dataframes/4-desperdicio-per-capita.csv")
df5 = pd.read_csv("dataframes/5-poluicao-agua.csv")

In [7]:
merged_df = pd.merge(df1, df2, on=['Entidade','Ano'], how='outer')
merged_df = pd.merge(merged_df, df3, on=['Entidade','Ano'], how='outer')
merged_df = pd.merge(merged_df, df4, on=['Entidade','Ano'], how='outer')
merged_df = pd.merge(merged_df, df5, on='Entidade', how='outer')
merged_df.to_csv("./dataframes/resultado-final-dataframes.csv", index=False)

In [100]:
df = pd.read_csv("dataframes/resultado-final-dataframes.csv")

df_clean= df.drop(['Código_x','Código_y', 'Código', 'Cidade', 'Região', 'Participação da reciclagem do lixo total regional', 'Participação da queima do lixo total regional', 'Participação do lixo descartado e mal gerido do total regional', 'Participação do lixo encaminhado para aterros do total regional', 'Entidade'], axis=1)
print(df_clean.info())


df_clean

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6369 entries, 0 to 6368
Data columns (total 6 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Ano                                                        5108 non-null   float64
 1   Produção Anual de Plástico                                 69 non-null     float64
 2   Participação na emissão global de plásticos para o oceano  2321 non-null   float64
 3   Lixo plástico mal gerenciado por pessoa (kg por ano)       2322 non-null   float64
 4   Qualidade do Ar                                            6198 non-null   float64
 5   Poluição da Água                                           6198 non-null   float64
dtypes: float64(6)
memory usage: 298.7 KB
None

,Ano,Produção Anual de Plástico,Participação na emissão global de plásticos para o oceano,Lixo plástico mal gerenciado por pessoa (kg por ano),Qualidade do Ar,Poluição da Água
0,NaN,NaN,NaN,NaN,18.421053,81.060606
1,NaN,NaN,NaN,NaN,43.750000,31.250000
2,NaN,NaN,NaN,NaN,0.000000,75.000000
3,NaN,NaN,NaN,NaN,11.111111,83.333333
4,NaN,NaN,NaN,NaN,100.000000,0.000000
...,...,...,...,...,...,...
6364,NaN,NaN,NaN,NaN,33.333333,98.076923
6365,NaN,NaN,NaN,NaN,0.000000,100.000000
6366,NaN,NaN,NaN,NaN,75.000000,100.000000
6367,NaN,NaN,NaN,NaN,75.000000,25.000000
6368,2019.0,NaN,0.0,35.839194,50.000000,75.000000